.headerPart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1e1e2f; 
    color: #ffffff; 
  }
  
  .appName {
    font-size: 25px;
    font-weight: bold;
  }
  
  .userSection {
    display: flex;
    align-items: center;
  }
  
  .userIcon {
    width: 40px;
    height: 40px;
    background-color: #444; 
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px; 
  }
  
  .userDetails {
    text-align: right;
  }
  
  .userGreeting {
    margin: 0;
    font-size: 14px; 
    color: #b0b0b0; 
  }
  
  .userRole {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
  }
  